.herobody {
    width: 100%;
    height: 100vh;
    display: fixed;
    color: rgb(0, 0, 0);
    background-image: url("../assets/backgrund.png");
}

.title-h1 {
    position: absolute;
    top: -15rem;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding: 1rem;
}