
.container-fluid {
  position: absolute;
  /*border: 1px solid #050404;*/
  top: 30rem;
  display: flex;
  justify-content: center;
  flex-direction: row;
  text-align: center;
  grid-template-columns: repeat(4, minmax(200px, 2fr));
  /*scroll-behavior: auto;*/
}
/*.movie-title h3{
  color: aliceblue;
  text-align: center;
}*/

button {
  background-color: rgba(0, 0, 0, 0.103);
  border: 1px solid rgba(255, 255, 255, 0.171);
  box-shadow: 3px 3px 10px rgb(255, 255, 255);
  cursor: pointer;
  color: rgb(255, 255, 255);
  padding: .7rem 1.5rem;
  border-radius: 8px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
}

.button-category {
  top: 14rem;
  position:relative;
  display: auto;
  justify-content:space-around;
}
.button-category button {
  margin: 3rem;
  justify-content:center;

}
.movie-app > .row{
  overflow-y: auto;
  flex-wrap: nowrap;
  display: grid;
  position: flex;
  justify-content: center;
  flex-direction: row;
  margin: 1 auto;
  grid-template-columns: repeat(7, minmax(200px, 2fr));
}


.image-container {
  box-shadow: 3px 3px 10px rgb(255, 255, 255);
  margin: 2rem;
  cursor: pointer;
  height: fit-content;
  position: relative;
  flex-direction: row;
  zoom:1;
	transition: transform 0.2s;
  display: flex;
  flex-wrap: nowrap;
}

.image-container :hover{
  cursor: pointer;
	transform: scale(1.1);
}

@media screen and (max-width: 940px) {
  .container-fluid {
    position: relative;
    /*border: 1px solid #050404;*/
    top: 17rem;
    display: flex;
    justify-content: center;
    flex-direction: row;
    text-align: center;
    grid-template-columns: repeat(2, minmax(200px, 2fr));
  }
  .movie-app > .row{
    overflow-y: auto;
    flex-wrap: nowrap;
    display: grid;
    position: flex;
    justify-content: center;
    flex-direction: row;
    margin: 1 auto;
    grid-template-columns: repeat(1, minmax(200px, 2fr));
  }
  .image-container {
    box-shadow: 2px 2px 10px rgb(255, 255, 255);
    margin: 0.75rem;
    cursor: pointer;
    height: fit-content;
    position: relative;
    flex-direction: row;
    zoom:1;
    transition: transform 0.2s;
    display: flex;
    flex-wrap: nowrap;

  }
  .image-container img{
    height: 100%;
    display: inline-block;
    vertical-align:top; /*to remove unwanted whitespace */
    position: relative;
  }
  .image-container :hover{
    cursor: pointer;
    transform: scale(1.1);
  }
  .button-category {
    display: auto;
    position: auto;
  }
  .button-category button {
    margin: .8rem;
    justify-content:center;
  }



}



