
.wrapper {
  position: relative;
  justify-content: flex-end;
  white-space:nowrap;
  height: fit-content;
  width: 100%;
  margin: 0 auto;
  border: 2px solid #000000;
  height: fit-content;
  top: 18rem;
}

.media-scroller{
  display: flex;
  grid-auto-columns: 8%;
  overflow-x: hidden;
  overscroll-behavior-inline: contain;
  white-space:nowrap;
  object-position: column;
  overflow: auto;

}

.image-container {
  box-shadow: 2px 2px 10px rgb(255, 255, 255);
  margin: 0.75rem;
  cursor: pointer;
  height: fit-content;
  position: relative;
  flex-direction: row;
  zoom:1;
	transition: transform 0.2s;
  display: flex;
  flex-wrap: nowrap;

}

.image-container img{
  height: 100%;
  display: inline-block;
  vertical-align:top; /*to remove unwanted whitespace */
  position: relative;
}
.image-container :hover{
  cursor: pointer;
	transform: scale(1.1);
}

@media screen and (max-width: 940px) {
  .wrapper {
    position: relative;
    white-space:nowrap;
    width: 100%;
    margin: 0 auto;
    border: 2px solid #000000;
    height: fit-content;
    top: 18rem;
  }
  .media-scroller{
    display: flex;
    grid-auto-columns: 8%;
    overflow-x: hidden;
    overscroll-behavior-inline: contain;
    white-space:nowrap;
    object-position: column;
    overflow: auto;

  }

  .image-container {
    box-shadow: 2px 2px 10px rgb(255, 255, 255);
    margin: 0.75rem;
    cursor: pointer;
    height: fit-content;
    position: relative;
    flex-direction: row;
    zoom:1;
    transition: transform 0.2s;
    display: flex;
    flex-wrap: nowrap;

  }
  .image-container img{
    height: 100%;
    display: inline-block;
    vertical-align:top; /*to remove unwanted whitespace */
    position: relative;
  }
  .image-container :hover{
    cursor: pointer;
    transform: scale(1.1);
  }
}



