/* Dropdown Button */
.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }

  .checkoutbtn {
    min-width: 200px;
    background-color: black;
  }
/* Change the background color of the dropdown button when the dropdown content is shown */
  .checkoutbtn:hover {
    background-color: #350303;
  }

  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    display: flex;
    position: absolute;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: 3rem;
    right:1rem;
    background-color: rgb(0, 0, 0);

  }

  

   .cart-icon{
     display: flex;
     right:1rem;
     position: absolute;
   }




  .dropdown-content div {
    color: rgb(255, 255, 255);
   /* padding: 1px 3px;*/
    text-decoration: none;
    display: block;


  }

  /* Change color of dropdown links on hover */
  /*.dropdown-content div:hover {background-color: #ddd;}*/

  /*  Not show the dropdown if not click*/
  .dropdown .dropdown-content {
    display:none;
  }


  .titletextleft {
    font-style: italic;
    display: inline-block;
    color: rgb(0, 0, 0);
    padding-right: 30%;
    font-weight: bold;
    font-size: 12px;

  }

  .titletextright {
    font-style: italic;
    display: inline-block;
    color: rgb(255, 255, 255);
    padding-left: 30%;
    font-size: 11px;
    margin-left: 7rem;
    top: -1rem;
    position: relative;
  }

  .titletextrightcount {
    font-style: italic;
    display: inline-block;
    color: rgb(0, 0, 0);
    padding-left: 30%;
    font-size: 13px;
    margin-left: 7.5rem;
    top: -1rem;
    position: relative;
  }

  .btnminus {
    display: inline-block;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    color: white;

  }

  .btnplus {
    display:inline-block;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    color: white;
  }

  .dropdown .btnplus:hover {
    background-color: darkgray;
    border-radius: 50%;
  }

  .dropdown .btnminus:hover {
    background-color: darkgray;
    border-radius: 50%;
  }

  .dropdown-childtop {
    display: inline-block;
    background-color: #f8f8f8;
    border: 0.5px solid #000000;
    font-size: small;
  }

.dropdown-child {
  display: inline-block;
  width:200px;
  background-color: #ffffff;
  border: 0.5px solid #470b0b;
  font-size: 15px;
  font-weight: 500;
}

@media screen and (max-width: 940px) {
  .dropdown {
    display: flex;
    position: absolute;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(255, 255, 255, 0.2);
    z-index: 1;
    top: 3rem;
    right:1rem;
    background-color: rgb(0, 0, 0);

  }
  .cart-icon{
    display: flex;
    right:0rem;
    top: 2rem;
    position: absolute;
  }

}
