/* Dropdown Button */
.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }

  .checkoutbtn {
    min-width: 200px;
    background-color: black;
  }

  .checkoutbtn :hover {

  }

  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: flex;
    display: inline-block;
  }

  /* Dropdown Content (Hidden by Default) */


  .dropdown-content {
    display: none;
    position: absolute;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top:2rem;
    right: 3rem;
  }
  /*display: flex;
  justify-content: space-between;
   Links inside the dropdown */




  .dropdown-content div {
    color: rgb(255, 255, 255);
   /* padding: 1px 3px;*/
    text-decoration: none;
    display: block;

  }

  /* Change color of dropdown links on hover */
  /*.dropdown-content div:hover {background-color: #ddd;}*/

  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;
  }

  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #3e8e41;}

  .titletextleft {
    font-style: italic;
    display: inline-block;
    color: white;
    padding-right: 30%;
    font-size: 10px;

  }

  .titletextright {
    font-style: italic;
    display: inline-block;
    color: white;
    padding-left: 30%;
    font-size: 10px;
    margin-left: 7rem;
    top: -1rem;
    position: relative;
  }

  .titletextrightcount {
    font-style: italic;
    display: inline-block;
    color: white;
    padding-left: 30%;
    font-size: 10px;
    margin-left: 7.5rem;
    top: -1rem;
    position: relative;
  }

  .btnminus {
    display: inline-block;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    color: white;

  }

  .btnplus {
    display:inline-block;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    color: white;
  }

  .dropdown:hover .btnplus:hover {
    background-color: darkgray;
    border-radius: 50%;
  }

  .dropdown:hover .btnminus:hover {
    background-color: darkgray;
    border-radius: 50%;
  }

  .dropdown-childtop {
    display: inline-block;
    background-color: #350303;
    border: 0.5px solid #470b0b;
    font-size: small;
  }

.dropdown-child {
  display: inline-block;
  background-color: #252525;
  border: 0.5px solid #470b0b;
  font-size: 10px;
  font-weight: 500;
}
