/*
Desktop: 1200px
Laptop: 1024px
Tablet: 768px
Phone: 480px
*/

* {
    padding: 0;
    margin: 0;
}

.checkout-container {
    display: flex;
    font-size: 0.95rem;
    min-height: 100vh;
    color: #ffe7c8;
    justify-content: center;
    align-items: center;
    padding: 5rem;

}

.checkout-card {
    width: 50rem;
    padding: 3.5rem;
    border-radius: 1rem;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 0.8rem white;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: red;
}

/* Order section */

.movie-list {
    margin-top: 5%;
    margin-bottom: 10%;
}

.movie-list div {
    display: flex;
    padding: 10px;
    justify-content: space-between;
}

.movie-list p {
    font-size: 1.1rem;
    font-weight: bold;
}

.movie-list span {
    font-size: 1.5rem;
    font-weight: bold;
    color: red;
}

.img-movie {
    width: 125px;
    height: 165px;
    border-radius: .5rem;
    overflow: hidden;
}

.img-movie img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 0 0 0.5rem white;
}

.items {
    align-items: center;
}

.items button {
    padding: 0.8rem;
    font-size: larger;
    margin: 1rem;
}

.addCount {
    box-shadow: 0 0 0.7rem red;
    background-color: red;
}

.deleteCount {
    box-shadow: 0 0 0.7rem rgb(255, 123, 0);
    background-color: rgb(255, 123, 0);
}

.addCount:active {
    background-color: rgb(243, 171, 171);
}

.deleteCount:active {
    background-color: rgb(243, 190, 140);
}

.total {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

/* Order section ends*/

/* Customer information section */

.customer-information {
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.inputs div {
    display: flex;
    padding: 0.7rem;

}

.inputs input {
    border: black solid 1px;
    border-radius: 6px;
    padding: 10px;
    margin-right: auto;
}

.inputs span {
    font-size: 1.2rem;
    margin-right: 2rem;
    padding: 5px;
}

@media (max-width: 768px) {
    .inputs div {
        flex-wrap: wrap;
    }

    .inputs input {
       
        width: 18rem;
        height: 2.5rem;
    }

    .inputs span {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1.7rem;
        margin-bottom: 5px;
    }
}

/* Customer information section ends*/

/* Credit card section */

.img3 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    width: 8.6rem;
    height: 6rem;
    object-fit: cover;
    border-radius: 1rem;
    padding: 10px;
}

.creditcard-inputs {
    margin-bottom: 1.6rem;
}

.creditcard-inputs div {
    display: flex;
    padding: 0.7rem;
}

.creditcard-inputs input {
    border: black solid 1px;
    border-radius: 6px;
    padding: 10px;
    margin-right: auto;
}

.creditcard-inputs span {
    font-size: 1rem;
    margin-right: 2rem;
    padding: 5px;
}

@media (max-width: 768px) {

}


/* Credit card section ends*/

/* Button */

.actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.7rem;
}

#pay {
    font-size: large;
    height: 3.5rem;
    width: 6rem;
    background-color: red;
    box-shadow: 0 0 0.7rem red;
}

#pay:hover {
    background: rgb(255, 123, 0);
    transition-duration: 0.5s;
    box-shadow: 0 0 9rem rgb(255, 123, 0);
}