/* Not added yet : 
Need to add flex wrap for different displays.*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.movie-body{
        display: grid;
        place-items: center;
        min-height: 100vh;
        background-color: black;
        color: #ffe7c8;
        font-size: 0.95rem;
        padding: 5rem;
}

.inputF {
    border: black solid 1px;
    border-radius: 15px;
    padding: 15px;
    margin-bottom: 10px;
    margin-right: 30px;
    width: 300px;
    box-shadow: 0 0 0.5rem white;
}


.inputC {
    border: black solid 1px;
    border-radius: 15px;
    font-size: large;
    padding: 15px;
    margin-bottom: 10px;
    margin-right: 30px;
    width: 800px;
    height: 100px;
    box-shadow: 0 0 0.5rem white;
}


.card1 {
    box-shadow: 3px 3px 10px rgb(255, 255, 255);
    width: clamp( 100rem, 120vw, 900px);
    display: flex;
    padding: 1.5rem;
    border-radius: 1rem;
    position: relative;
    overflow: hidden;
}


.card2 {
   
    width: clamp( 80rem, 100vw, 700px);
    display: flex;
   flex-direction: row;
    position: relative;
    overflow: hidden;
    padding: 10px;
}

.labels1 {
    font-size: 2rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
   
}

.labels2 {
    font-size: 1.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}



.labels3 {
   
    position: relative;
    overflow: hidden;
    display: flex;
   flex-direction: row;
   width: clamp( 70rem, 90vw, 700px);
}


.img3 {
    position: relative;
    width: 9rem;
    height: 6rem;
    right: 0;
    top: 0;
    overflow: hidden;
    padding: 10px;

}


.img4 {
    position: relative;
    shape-image-threshold: calc();
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    overflow: hidden;
    padding: 1px;

}

.wish2 {
    font-size: 2rem;
    box-shadow: 0 0 0.5rem white;
}


.wish2:hover{
    background: #f87000;
    transition-duration: 0.5s;
    transform: scale(0.99);
}

.img-1 {
    width: 350px;
    height: 550px;
    border-radius: .5rem;
    overflow: hidden;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.top {
    display: flex;
    width: 95%;
}

.movie-info-container {
    width: 50%;
    
}

.labels {
    font-size: 1.3rem;
    margin-left: 2rem;
    margin-right: 2rem;
    flex: 1;
    padding: 15;
}

.movie-language {
    text-transform: uppercase;
}

.buy {
    font-size: 1rem;
    box-shadow: 0 0 0.5rem white;
}

.buy:hover{
    background: #ff3939;
    transition-duration: 0.5s;
    transform: scale(0.99);
}

.wish {
    font-size: 1rem;
    box-shadow: 0 0 0.5rem white;
}

.wish:hover{
    background: #f87000;
    transition-duration: 0.5s;
    transform: scale(0.99);
}

.general-info h2 {
    margin-bottom: 1rem;
}

.movie-info {
    margin-top: 1rem;
    width: 90%;
    
}

.general-info div {
    margin: 1rem 0;
    display: flex;
    justify-content: space-between;
}

.img-2 {
    position: absolute;
    width: 40%;
    height: 100%;
    right: 0;
    top: 0;
    overflow: hidden;
    opacity: .6;
}

.card::before {
    content: '';
    position: absolute;
    top: 0;
    right: 30%;
    width: 10%;
    height: 100%;
    background-image: linear-gradient(to right, black, transparent);
    z-index: 1;
}

.card:first-child,
.card:first-child .img-1 {
    box-shadow: 0 0 0.5rem white;    
}

.card:first-child .general-info div span:last-of-type {
    font-weight: 900;
    color: #ff3939;
}
