/*
iPhone SE: 375px
Second-size phone: 480px
*/

* {
    padding: 0;
    margin: 0;
}

.checkout-container {
    display: flex;
    font-size: 0.95rem;
    min-height: 100vh;
    color: #ffe7c8;
    justify-content: center;
    align-items: center;
    padding: 5rem;

}

.checkout-card {
    width: 50rem;
    padding: 3.5rem;
    border-radius: 1rem;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 0.8rem white;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: red;
}

@media (max-width: 375px) {
    .title {
        font-size: 1.7rem;
    }
}

/* Order section */

.movie-list {
    margin-top: 5%;
    margin-bottom: 10%;
}

.movie-list div {
    display: flex;
    padding: 10px;
    justify-content: space-between;
}

.movie-list p {
    font-size: 1.1rem;
    font-weight: bold;
}

.movie-list span {
    font-size: 1.5rem;
    font-weight: bold;
    color: red;
}

.img-movie {
    width: 125px;
    height: 165px;
    border-radius: .5rem;
    overflow: hidden;
}

.img-movie img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 0 0 0.5rem white;
}

.items {
    align-items: center;
}

.items button {
    padding: 0.8rem;
    font-size: larger;
    margin: 1rem;
}

.addCount {
    border: none;
    box-shadow: 0 0 0.7rem red;
    background-color: red;
}

.deleteCount {
    border: none;
    box-shadow: 0 0 0.7rem rgb(255, 123, 0);
    background-color: rgb(255, 123, 0);
}

.deleteMovie {
    border: none;
    box-shadow: 0 0 0.7rem rgb(94, 94, 94);        
    background-color: rgb(87, 84, 84);
}

.addCount:active {
    background-color: rgb(243, 171, 171);
}

.deleteCount:active {
    background-color: rgb(243, 190, 140);
}

.deleteMovie:active {
    background-color: rgb(215, 187, 160);
}

.counter {
    
    align-items: center;
}

.total {
    align-items: center;

}

.subTotal {
    display: flex;
    margin-top: 2rem;
    justify-content: space-between;
}

.totalText {
    font-size: 1.3rem;
}

.totalAll {
    font-size: 1.5rem;
    font-weight: bold;
    color: red;
}

@media (max-width: 480px) {

    .checkout-container {
        padding: 10px;
    }

    .checkout-card {    
        padding: 10px;
    }

    .img-movie {
        width: 8rem;
        height: 170px;
        
    }

    .img-movie img {
        box-shadow: 0 0 0.5rem white;
    }

    .items button {       
        padding: 0.4rem;
        font-size: larger;
        margin: 1rem;
    }

    .counter {
        align-items: center;
    }

    .total {
        align-items: center;
        font-size: 1.5rem;
    }

}

@media (max-width: 414px) {

    .movie-list div {
        display: flex;
        align-items: center;
        padding: 2px;
    }

    .items {
        flex-direction: column;
    }

    .items button {
        width: 30px;
        padding: 0.3px;
    }
}

@media (max-width: 375px) {

    .order {
        font-size: 1.2rem;
    }

    .movie-list div {
        display: flex;
        align-items: center;
        padding: 1px;
    }

    .selected-container div {
        margin: auto;
        padding: 1px;
    }

    .img-movie {
        box-shadow: 0 0 0.3rem white;
        height: 180px;
        width: 90px;
    }

    /* .items {
        flex-direction: column;
    }

    .items button {
        width: 30px;
        padding: 0.3px;
    } */

    .counter {
        box-sizing: border-box;

    }

    .total {
        box-sizing: border-box;
        align-self: flex-end;
    }

    .total span{
        font-size: 1.2rem;
        max-width: 100%;
    }

    .movie-list p {
        font-size: 1rem;
    }

    .totalText {
        font-size: 1.2rem;
    }

    .totalAll {
        font-size: 1.3rem;
    }

}

/* Order section ends*/

/* Customer information section */

.customer-information {
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    
}

/* .inputs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1rem;
} */

/* .inputs {
    display: flex;
    align-items: center;
    justify-content: center;
} */


/* .inputs div {
    padding: 0.7rem;
} */

.input-2 div {
    padding: 0.7rem;
}


/* .inputs input {
    border-radius: 6px;
    padding: 10px;
    margin-right: auto;
} */

.input-2 input {
    border-radius: 6px;
    height: 38px;
    width: 150px;
    padding: 5px;
}

/* .inputs span {
    font-size: 1.2rem;
    margin-right: 2rem;
    padding: 5px;
} */

.input-2 span {
    font-size: 1.2rem;
    margin-right: 2rem;
    padding: 5px;
}

label {
    font-size: 0.8rem;
    color: red;
}

@media (min-width: 820px) {
    /* .inputs {
        display: flex;
        align-items: center;
        justify-content: space-between;
    } */

    .input-2 {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    /* .inputs div {
        justify-content: center;
        flex-direction: column;
        padding: 1px;
    } */

    .input-2 div {
        justify-content: center;
        flex-direction: column;
        padding: 1px;
    }

    .input-2 input {
        max-width: 8rem;
    }
}

@media (min-width: 840px) {
    .input-2 input {
        padding: 20px;
        min-width: 10rem;
    }
}

@media (max-width: 768px) {

    .input-2 div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .input-2 input {
        margin: auto;
        width: 20rem;
        height: 2.5rem;
    }

    .input-2 span {
        margin: auto;
        font-size: 1.7rem;
    }
}

@media (max-width: 480px) {
    .input-2 input {
        width: 100%;
        margin: auto;
    }
}

@media (max-width: 375px) {
    .customer-information {
        font-size: 1.4rem;
    }

}

/* Customer information section ends*/

/* Credit card section */

.img3 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    width: 8.6rem;
    height: 6rem;
    object-fit: cover;
    border-radius: 1rem;
    padding: 10px;
}

.creditcard-inputs {
    margin-bottom: 1.6rem;
}

.creditcard-inputs div {
    display: flex;
    padding: 0.7rem;

}

.creditcard-inputs input {
    border: black solid 1px;
    border-radius: 6px;
    padding: 10px;
    margin-right: auto;
}

.creditcard-inputs span {
    font-size: 1rem;
    margin-right: 2rem;
    padding: 5px;
}

@media (min-width: 820px) {

    .img3 {
        padding: 10px;
        width: 20%;
    }

    .creditcard-inputs {
        display: flex;
        align-items: center;
        justify-content: space-between;
        
    }

    .creditcard-inputs div {
        flex-direction: column;
        padding: 2px;
    }

    .creditcard-inputs input {
        margin: auto;
    }

    .creditcard-inputs span {
        font-size: 1.5rem;
    }
}

@media (max-width: 480px) {

    .creditcard {
        display: flex;
        max-height: max-content;
        padding: 0.5px;
    }

    .img3 {
        border-radius: 0.6rem;
        height: 60px;
        width: 20%;
    }

    .creditcard-inputs div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .creditcard-inputs span {
        font-size: 1.7rem;
        margin: auto;
    }

    .creditcard-inputs input {
        margin: auto;
        width: 100%;
        height: 90%;
        margin-bottom: 1rem;
    }

}

@media (max-width: 375px) {
    .img3 {
        border-radius: 1px;
        height: 50px;
        padding: 4px;
    }

    .creditcard-inputs div {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .creditcard-inputs span {
        margin: auto;
    }

    .creditcard-inputs input {
        width: 100%;
        margin: auto;
    }

}


/* Credit card section ends*/

/* Button */

.actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.7rem;
}

#pay {
    font-size: large;
    height: 3.5rem;
    width: 6rem;
    background-color: red;
    box-shadow: 0 0 0.7rem red;
}

#pay:hover {
    background: rgb(255, 123, 0);
    transition-duration: 0.5s;
    box-shadow: 0 0 9rem rgb(255, 123, 0);
}

@media (max-width: 768px) {

    #pay {
        font-size: 1.5rem;
        height: 5rem;
        width: 8rem;
    }

}