* {
    padding: 0;
    margin: 0;
}

.fail-container {
    display: flex;
    font-size: 0.95rem;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 3rem;
}

.fail-card {
    width: 30rem;
    border-radius: 1rem;
    box-shadow: 0 0 0.8rem white;
    
}

.err-msg{
    margin-top: 8px;
    margin-left: 1rem;
    margin-right: 1rem;
}

.err-msg p {
    font-size: 1.7rem;
    color: #ffe7c8;
    font-weight: bold;
    padding: 1rem;
}

.button-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.button-link button {
    border: none;
    font-size: medium;
    border-radius: 1.2rem;
    width: 11rem;
    background-color: red;
    box-shadow: 0 0 1rem rgb(229, 64, 64);
}

.button-link button :active {
    background-color: rgb(255, 154, 154);
} 