/* Not added yet :
Need to add flex wrap for different displays.*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.movie-body {
  display: grid;
  place-items: center;
  max-height: 100%;
  min-width: 100%;
  background-color: black;
  color: #ffe7c8;
  font-size: 0.95rem;
  padding: 5rem;
}

.card {
  width: clamp(300px, 95vw, 1500px);
  display: flex;
  padding: 1.5rem;
  border-radius: 1rem;
  position: relative;
  overflow: hidden;
  top: 5rem;
}

.img-1 {
  width: 350px;
  height: 550px;
  border-radius: .5rem;
  overflow: hidden;
}

.img4 {
  height: 3%;
  width: 3%;
  border-radius: 4rem;
  object-fit: cover;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.top {
  display: flex;
  width: 95%;
}

.movie-info-container {
  width: 50%;
}

.general-info {
  font-size: 1.3rem;
  margin-left: 2rem;
  flex: 1;
}

.movie-language {
  text-transform: uppercase;
}

.buy {
  font-size: 1rem;
  box-shadow: 0 0 0.5rem white;
}

.buy:hover {
  background: #ff3939;
  transition-duration: 0.5s;
  transform: scale(0.99);
}

/* .wish {
  font-size: 1rem;
  box-shadow: 0 0 0.5rem white;
}

.wish:hover {
  background: #f87000;
  transition-duration: 0.5s;
  transform: scale(0.99);
} */

.general-info h2 {
  margin-bottom: 1rem;
}

.movie-info {
  margin-top: 1rem;
  width: 90%;

}

.general-info div {
  margin: 1rem 0;
  display: flex;
  justify-content: space-between;
}

.img-2 {
  position: absolute;
  width: 40%;
  height: 100%;
  right: 0;
  top: 0;
  overflow: hidden;
  opacity: .6;
}

.card::before {
  content: '';
  position: absolute;
  top: 0;
  right: 30%;
  width: 10%;
  height: 100%;
  background-image: linear-gradient(to right, black, transparent);
  z-index: 1;
}

.card:first-child,
.card:first-child .img-1 {
  box-shadow: 0 0 0.5rem white;
}

.card:first-child .general-info div span:last-of-type {
  font-weight: 900;
  color: #ff3939;
}

.movie-comentars {
  display: flex;
  position: relative;
  top: 6rem;

}

.comments-container {
  margin: 1rem;
  padding: auto;
}

.test {
  overflow-y: auto;
  position: relative;
  max-width: auto;
  max-height: 200px;
  background-color: rgba(39, 35, 35, 0.342);
  box-shadow: 1px 1px 10px rgb(255, 255, 255);
}

.comments-container {
  height: 100px;
  width: 300px;

}
.commits{
  display: flex;
  width:13rem;
  border: 1px solid rgb(41, 190, 41)

}

.constainer_imputs {
  position: relative;
  top: 15px;
}

.constainer_imputs button {
  position: relative;
  top: 20px;

}

.inputs input {
  background-color: rgba(248, 248, 248, 0.986);
  border-radius: 1rem;
  transition: 0.8s;
  position: relative;
  margin: 0 auto;
  height: 40px;
  width: 300px;
  color: rgb(0, 0, 0);
}


/* Mobil mode */
@media screen and (max-width: 940px) {
  .movie-body {
    display: grid;
    place-items: center;
    max-height: 100%;
    background-color: black;
    color: #ffe7c8;
    font-size: 0.95rem;
    padding: 4rem;
  }

  .card {
    width: 300px;
    height: 900px;
    display: flex;
    padding: 1.5rem;
    border-radius: 1rem;
    position: flex;
    top: 5rem;
    overflow-y: auto;
  }

  .img-1 {
    display: none;
  }

  .general-info h2 {
    font-size: 20px;
    margin: auto;
  }

  .card::before {
    content: '';
    position: absolute;
    top: 0;
    right: 90%;
    width: 10%;
    height: 100%;
    background-image: linear-gradient(to right, black, transparent);
    z-index: 1;
  }

  .card:first-child,
  .card:first-child .img-1 {
    box-shadow: 0 0 0.5rem white;
  }

  /* .card:first-child .general-info div span:last-of-type {
  font-weight: 900;
  color: #ff3939;
} */

  .img-2 {
    position: absolute;
    width: 100%;
    height: 23%;
    right: 0;
    top: 0;
    opacity: .6;
  }

  .general-info {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 10rem;
    right: 2.2rem;
    font-size: 1rem;
    margin-left: none;
    flex: 0;
  }

  .general-info div {
    width: 255px;
    /* margin: 1rem 0; */
    /* right: 2rem; */
    /* top: 10rem; */
    position: relative;
    object-fit: cover;
    justify-content: space-between;
    /* margin-bottom: 1rem; */
  }

  .general-info span {
    position: relative;
    margin: 5px;
    object-fit: cover;
    right: 0rem;
  }

  .movie-info {
    display: flex;
    position: absolute;
    top: 45rem;
    width: 85%;
    margin-top: 2.7rem;
    min-height: auto;
  }

  .img4 {
    height: 10%;
    width: 10%;
    border-radius: 4rem;
    object-fit: cover;
  }

  .inputs input {
    background-color: rgba(248, 248, 248, 0.986);
    border-radius: 1rem;
    transition: 0.8s;
    position: relative;
    margin: 0 auto;
    height: 30px;
    width: 300px;
    color: rgb(0, 0, 0);
  }
}