.navbar {
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    z-index: 10;
    position: fixed;
    color: rgb(4, 3, 8);
}

.navbar-bg {
    background-color: rgba(0, 0, 0, 0.562);
    transition: .5s;
}

.dark {
    color: #000;
}

.logo,
.link-homee,
.link-gallery,
.link-info {
    color: rgba(1, 30, 94, 0.979);
}

.link-homee:hover {
    color: rgb(0, 0, 0);
}

.link-gallery:hover {
    color: rgb(0, 0, 0);
}

.link-info:hover {
    color: rgb(0, 0, 0);
}

.link-gallery:visited {
    color: #000000;
    text-decoration: none;
}

.navbar-bg {
    background-color: #ffffff;
}

.nav-menu {
    display: flex;
}

li {
    padding: 0 3rem;
}

.hamburger {
    display: none;
    /*padding: 1rem;*/
}

.mobile-menu {
    display: none;
}

.icon {
    font-size: 1.5rem;
    cursor: pointer;
}

@media screen and (max-width: 940px) {
    .mobile-menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        top: -100vh;
        left: 0;
        position: absolute;
        justify-content: space-between;
        background-color: #f5f5f5;
        transition: 0.3s;
        color: #000;
    }
    .logo {
        position: flex;
        justify-content: center;
        top: 15vh;
        display: flex;
        margin: 0 auto;
        text-align: center;
    }
    .active {
        top: 80px;
    }
    .mobile-menu li {
        padding: 1.2rem 1rem;
        margin: 0 1rem;
        border-bottom: 1px solid #ccc;
    }
    .mobile-nav {
        margin: 1rem 0;
    }
    .mobile-menu-botton {
        width: 100%;
        text-align: center;
        padding: 1rem 0;
    }
    .social-icons {
        display: flex;
        justify-content: space-around;
        margin: 2rem 0;
    }
    .social-icons .icon:hover {
        transform: scale(1.5);
        transition: 0.3s;
    }
    .mobile-menu button {
        margin: 1rem;
        width: 90%;
    }
    .nav-menu {
        display: none;
    }
    .nav-icons {
        display: none;
    }
    .hamburger {
        display: flex;
    }
}