@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Condensed:wght@300;400;700&display=swap');
:root {
    --primary-dark: #5651e5;
    --primary-light: #709dff;
    --dark-dark: #f8f8f8b6;
    --secundary-white: rgba(255, 255, 255, 0.685);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #000000;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1 {
   font-size: 3.5rem;
}

h2 {
    font-size: 2rem;
}

.container {
    max-width: 1240px;
    margin: auto;
    padding: 0 1rem;
}

/*button {
    background-color: rgba(10, 25, 165, 0.658);
    border: 1px solid rgb(177, 0, 0);
    cursor: pointer;
    color: rgb(255, 255, 255);
    padding: .7rem 1.5rem;
    border-radius: 8px;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
}*/

@media screen and (max-width: 940px) {
    h1 {
        font-size: 2.5rem;
    }
    h2 {
        font-size: 1.5rem;
    }
}
